{% load static %}
<div id="tab_panel">
</div>
<script src="{% static 't4_viewer/client.js' %}"></script>
<script src="{% static 't4_viewer/page.js' %}"></script>
<script src="{% static 't4_viewer/taskboard.js' %}"></script>
<script src="{% static 't4_viewer/ctionviewer.js' %}"></script>
<script src="{% static 't4_viewer/queryboard.js' %}"></script>
<script src="{% static 't4_viewer/termboard.js' %}"></script>
<script src="{% static 't4_viewer/listbox.js' %}"></script>
<script src="{% static 't4_viewer/inputpanel.js' %}"></script>
<script src="{% static 't4_viewer/tabpanel.js' %}"></script>
<script src="{% static 't4_viewer/datatree.js' %}"></script>
<script src="{% static 't4_viewer/ctionpanel.js' %}"></script>


<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

<script>
var client = new Client();
var name = "NA";
var cdict = {};
var data = {};
var cdict_s = {};
var tabpanel = new TabPanel("tab_panel","tabpanel");
const div_panel = tabpanel.id_dict["panel"];
var taskboard = new TaskBoard(div_panel+".1","taskboard",client,task_status,task_status);
var ctionviewer = new CtionViewer(div_panel+".2","ctionviewer",client);
var queryboard = new QueryBoard(div_panel+".3","queryboard",client);                     
var termboard = new TermBoard(div_panel+".4","termboard",client);                        
var datatree = new DataTree(div_panel+".5","datatree",client);
var ctionpanel = new CtionPanel(div_panel+".6","ctionpanel",client);
tabpanel.add_tab(div_panel+".1","TaskBoard",taskboard);
tabpanel.add_tab(div_panel+".2","CtionViewer",ctionviewer);
tabpanel.add_tab(div_panel+".3","QueryBoard",queryboard);
tabpanel.add_tab(div_panel+".4","TermBoard",termboard);
tabpanel.add_tab(div_panel+".5","DataTree",datatree);
tabpanel.add_tab(div_panel+".6","CtionPanel",ctionpanel);


function set_panel(){
	const select_panel = document.getElementById("select_panel");
	const panel = select_panel.options[select_panel.selectedIndex].value;
	const panel_board = document.getElementById("panel_board");
	console.log(panel);
	if (panel == "taskboard"){
		panel_board.innerHTML = "";
		taskboard = new TaskBoard("panel_board","taskboard",client,task_status,task_status);
	}
	else if (panel == "ctionviewer"){
		panel_board.innerHTML = "";
		ctionviewer = new CtionViewer("panel_board","ctionviewer",client);
	}
	else if (panel == "queryboard"){
		panel_board.innerHTML = "";
		queryboard = new QueryBoard("panel_board","queryboard",client);
	}
	else if (panel == "termboard"){
		panel_board.innerHTML = "";
		termboard = new TermBoard("panel_board","termboard",client);
	}
}

function task_status(response,task_id){
	console.log("fun task_status");
	console.log(response);
	console.log(task_id);
	taskboard.set_status(task_id,response);
}

function get_dataform_summary(){
	console.log(this.responseText);	
}

function change_class(){
		console.log("here");
		const box = document.getElementById('class_select');
		const data_box = document.getElementById('data');
		const vecs_box = document.getElementById('vecs');
		data_box.innerHTML = "";
		select_class = box.options[box.selectedIndex].value;
		console.log(select_class);
		const elems = [];
		for( var i = 0; i<data[select_class].length; i++){
			elems[i] = document.createElement('option');
			elems[i].setAttribute('id',data[select_class][i]);
			elems[i].innerHTML = data[select_class][i];
			data_box.appendChild(elems[i]);
			console.log("here");
			console.log(elems[i].parentElement);
			console.log(elems[i]);
		}
}

function loadCtion(){
	name = document.getElementById("ction").value;
	oReq = new XMLHttpRequest();
	oReq.addEventListener("load",getCtion);
	oReq.open("POST","http://127.0.0.1:9000/ction/get/")
	obj  = {"name":name}
	blob = new Blob([JSON.stringify(obj,null,2)],{type:'application/json'});
	oReq.setRequestHeader("Content-Type","application/json");
	oReq.send(blob);
}

function getCtion(){
	ction  = JSON.parse(this.responseText);
	console.log(ction);
	cdict = ction['ction'];
	console.log(cdict);
	keys = Object.keys(cdict);
	const select = document.getElementById("class_select");
	for (var i = 0; i<keys.length; i++){
		console.log(keys[i]);
		const option = document.createElement("option");
		option.setAttribute("id",keys[i]);
		option.setAttribute("option",keys[i]);
		option.innerHTML = keys[i];
		select.appendChild(option);
	}
}

function choose(){
	elem = document.getElementById("term_options");
	elem2 = document.getElementById("min_n");
	oReq = new XMLHttpRequest();
	oReq.addEventListener("load",getQuery);
	oReq.open("POST","http://127.0.0.1:9000/data/query");
	obj = {"ction":{"name":name,"dictionary":cdict},"query_type":elem.value,"min_n":elem2.value}
	blob = new Blob([JSON.stringify(obj,null,2)],{type:'application/json'})
	oReq.send(blob);

}

function getQuery(){
	console.log("query");
	data = JSON.parse(this.responseText)["query"];
	console.log(this.responseText);
	const elem = document.getElementById("data");
	classes = Object.keys(data);	
	select = document.getElementById('class_select');
	const vecs_box = document.getElementById('vecs');
	cl = select.options[select.selectedIndex].value;
	terms = data[cl];
	for (var j = 0; j< terms.length; j++){
		const option = document.createElement('option');
		console.log(terms[j]);
		option.innerHTML = terms[j];
		elem.appendChild(option);
	}
	vecs = cdict[cl];
	for (var j = 0; j< vecs.length; j++){
		const option = document.createElement('option');
		console.log(vecs[j]);
		option.innerHTML = vecs[j];
		vecs_box.appendChild(option);
	}
	console.log("done");
	console.log(cdict_s);
}

function col2sort(a,b){
	if (a[1] === b[1]){
		return 0;
	}
	else {
		return (a[1] > b[1]) ? -1 : 1;
	}
}
</script>
